{
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrder": [
    "react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/",
    "^components/(.*)$",
    "^.types",
    "^.styles",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
